.genreList {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.genreButton {
  background: none;
  border: none;
  padding: 0;
  cursor: default;
}

.selected {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
