.genreList {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

.genreButton {
  background: none;
  border: none;
  padding: 0;
  cursor: default;
  color: white;
}

.selected {
  background-color: blue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.genreContainer {
  background-color: #232323;
  padding: 10px 0 0 30px;
  margin: 0 30px 0 30px;
}
