.searchFormContainer {
  padding: 50px 0px 80px 100px;
}

.searchButton {
  width: 233px;
  height: 57px;
  top: 242px;
  left: 905px;
  background: #f65261;
  border-width: 0;
  border-radius: 5px;
  margin-left: 10px;
}

.searchButtonText {
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

.searchInput {
  width: 713px;
  height: 57px;
  opacity: 0.5;
  background-color: #323232cc;
  border-radius: 5px;
  border-width: 0;
  padding-left: 10px;
}

.searchInputText {
  top: 17px;
  left: 19px;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 20px;
  font-weight: 400;
}



